@model SurveyInfoTable

<form>
    <div class="form-group">
        <label for="name">Person Name</label>
        <input type="text" class="form-control" id="name" value="@Model.surveyPersonName" disabled>
    </div>
    <div class="form-group">
        <label for="name">Risk Tolerance</label>
        <input type="text" class="form-control" id="name" value="@Model.surveyRiskTolerance" disabled>
    </div>
    <div class="form-group">
        <label for="sector">Stock Id Ticker</label>
        <input type="text" class="form-control" id="sector" value="@Model.stockIdTicker" disabled>
    </div>
    <div class="form-group">
        <label for="stockIdTicker">Stock Id Ticker Navigation</label>
        <input type="text" class="form-control" id="stockIdTicker" value="@Model.stockIdTickerNavigation" disabled>
    </div>
    <div class="form-group">
        <label for="stockVolatility">Survey Amount</label>
        <input type="text" class="form-control" id="stockVolatility" value="@Model.surveyAmount" disabled>
    </div>
    <div class="form-group">
        <label for="stockVolatility">Cryptos</label>
        <input type="text" class="form-control" id="stockVolatility" value="@Model.surveyCryptoVsstocks" disabled>
    </div>
    <div class="form-group">
        <label for="stockVolatility">Industry</label>
        <input type="text" class="form-control" id="stockVolatility" value="@Model.surveyIndustry" disabled>
    </div>
    <div class="form-group">
        @*<label for="stockVolatility">Info List</label>*@
        <input type="text" class="form-control" id="stockVolatility" value="@Model.surveyInfoList" hidden>
    </div>
    <div class="form-group">
        <label for="stockVolatility">Survey Id</label>
        <input type="text" class="form-control" id="stockVolatility" value="@Model.surveyInfoTableSurveyId" disabled>
    </div>
</form>
<a href="@Url.Action("EditSurvey", "SurveyInfoTable", new { surveyId = Model.surveyId})" class="btn btn-primary">Edit</a>
@*<button asp-controller="DbdataforStockVolatility" asp-action="EditStock" asp-route-stockTickerId="@Model.stockIdTicker" class="btn btn-primary">Edit </button>*@

<script>

</script>