@model DbdataforStockVolatility
@{

}
<form>
    <div class="form-group">
        <label for="name">name</label>
        <input type="text" class="form-control" id="name" value="@Model.name" disabled>
    </div>
    <div class="form-group">
        <label for="sector">sector</label>
        <input type="text" class="form-control" id="sector" value="@Model.sector" disabled>
    </div>
    <div class="form-group">
        <label for="stockIdTicker">stockIdTicker</label>
        <input type="text" class="form-control" id="stockIdTicker" value="@Model.stockIdTicker" disabled>
    </div>
    <div class="form-group">
        <label for="stockVolatility">stockVolatility</label>
        <input type="text" class="form-control" id="stockVolatility" value="@Model.stockVolatility" disabled>
    </div>
</form>
<a href="@Url.Action("EditStock", "DbdataforStockVolatility", new { stockTickerId = Model.stockIdTicker})" class="btn btn-primary">Edit</a>
@*<button asp-controller="DbdataforStockVolatility" asp-action="EditStock" asp-route-stockTickerId="@Model.stockIdTicker" class="btn btn-primary">Edit </button>*@

<script>

</script>